header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--colorHeaderFooter);  
    width: 100%;  
    position: sticky;
    top: 0; 
    z-index: 99;
}

nav{
    width: 50%;    
}

figure{
    width: 50%;
}

nav ul li:last-child{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bolder;
    &&:hover{
        color: red;
    }
}

.logo img{
    width: 80px;
}

nav ul {
    display: flex;
    list-style: none;   
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {    
    color: white;
    font-weight: bolder;
    &&:hover{
        color: #526581;
    }
}