header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--colorHeaderFooter);  
    width: 100%;  
    position: sticky;
    top: 0; 
    z-index: 99;
}

nav {
    width: 50%;    
}

figure {
    width: 50%;
}

nav ul li:last-child {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bolder;
}

nav ul li:last-child:hover {
    color: red;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.logo img {
    width: 80px;
}

nav ul {
    display: flex;
    list-style: none;   
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {    
    color: white;
    font-weight: bolder;
}

nav ul li a:hover {
    color: #526581;
}

/* MENU HAMBURGUESA */

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {

    header {        
      flex-wrap: wrap;
    }

    figure{
        width: 90%;
    }

    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    nav ul li {
        margin-left: 0;
        text-align: center;
        padding: 10px 0;
    }

  
    #menu-toggle:checked + .menu-icon + nav ul {
        display: flex;
    }

    .menu-icon {
        display: block;
        color: #194e86;
        width: 10%;       
    }    

    nav {
        width: 100%;
    }
}