.custom-file-input { 
    display: none;
  }  

  label[for="icon"] { /* selecciona todos los elementos <label> que tienen un atributo for con el valor exacto "icon". */
    margin-top: 10px;
    display: block;
    background-color: var(--colorBtnRegistro); 
    color: white; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
      background-color: #276cb6; 
    }
  }  





